@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.home{
    background-image: url(../img/background-home-desktop.jpg);
    padding-top: 2em;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 1;
}
.home p:first-of-type{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    
}
.home .content{
    margin-top: 1em;
    align-self: center;
    /* width: 400px; */
}
.explore img{
    width: 200px;
    height: auto;
    margin-top: 1em;
    align-self: center;
}
h1{
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    font-size: 100px;
    padding-top: 0em;
    
    line-height: 0px;

}
.home p:last-of-type{
font-family: 'Barlow', sans-sarif;
font-size: 18px;
line-height: 32px;
width: 400px;
/* margin-bottom: 5em; */
}

/* responsiveness */
@media screen and (max-width: 800px){
.home{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
h1,p{
    text-align: center;
}
h1{
    font-size: 50px;
}
.home p:last-of-type{
    width: 300px;
}
p{
    font-size: 20px ;
}
}
